.link {
  font-size: 20px;
  border: none;
  width: 100%;
  text-align: center;
  background: var(--accent-color);
  color: var(--main-color);
  padding: 16px 0;
  display: block;
  max-width: 300px;
  transition: 0.2s ease;
  cursor: pointer;

  &:hover {
    background-color: var(--accent-color-hover);
  }
}

// ***************************Adaptive***************************
@media (max-width: 950px) {
  .link {
    max-width: 265px;
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .link {
    max-width: 100%;
  }
}
