.cost {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 82px;
  margin-bottom: 100px;

  &__calc {
    width: 340px;
  }
}

.circle {
  width: 240px;
  height: 240px;

  &__text {
    font-family: "IBM Plex";
    text-transform: uppercase;
    letter-spacing: 10px;
    word-spacing: 8px;
    animation: motion normal infinite 30s linear;
    transform-origin: 50% 50%;
  }

  &:hover &__text {
    animation-play-state: paused;
  }
}

@keyframes motion {
  to {
    transform: rotate(360deg);
  }
}

.form {
  &__text {
    margin: 0;
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 9px;
  }

  &__select {
    margin-bottom: 24px;
    width: 100%;
    max-width: 340px;
    appearance: none;
    background-image: url(../img/polygon.svg);
    background-repeat: no-repeat;
    background-position: 95% center;
  }

  &__input {
    margin-bottom: 40px;
    width: 90px;
    outline: none;

    // remove arrows in input field for Chrome, Safari, Edge, Opera
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    // the same for Firefox
    &[type="number"] {
      -moz-appearance: textfield;
    }
  }

  &__input,
  &__select {
    font-family: "IBM Plex Serif";
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    padding: 17px 26px;
    background-color: var(--main-color);
  }
}

.total {
  display: none;
  margin-top: 24px;
  &__price {
    font-size: 40px;
    color: var(--accent-color);
    margin-bottom: 30px;
  }

  &__info {
    color: var(--text-color);
  }

  &__email {
    color: var(--text-color);
    text-decoration: underline;
    display: block;
    margin-top: 4px;
  }
}

// ***************************Adaptive***************************
@media (max-width: 1150px) {
  .cost {
    .form {
      &__text,
      &__select,
      &__input {
        font-size: 18px;
      }
    }
  }

  .circle {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 767px) {
  .cost {
    flex-direction: column;
    align-items: stretch;
    gap: 40px;
    margin-bottom: 50px;

    &__title {
      margin: 0 auto;
    }

    &__calc {
      width: 100%;
    }
  }

  .form__select {
    max-width: 100%;
  }

  .circle {
    width: 185px;
    height: 185px;
    margin-bottom: -15px;

    &__arrow {
      transform: rotate(90deg);
      transform-origin: center;
    }
  }
}
@media (max-width: 580px) {
  .cost {
    margin-bottom: 35px;
  }
  .circle {
    width: 175px;
    height: 175px;
  }
}

@media (max-width: 500px) {
  .circle {
    width: 130px;
    height: 130px;
  }

  @media (max-width: 1150px) {
    .circle {
      margin-bottom: -25px;
    }
    .cost {
      .form {
        &__text,
        &__select,
        &__input {
          font-size: 15px;
        }
      }
    }
  }
}
