.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 74px;
  margin-bottom: 123px;

  &__descr {
    flex-basis: 460px;
  }

  &__title {
    margin: 0;
    font-family: "IBM Plex";
    font-weight: 400;
    font-size: 64px;
    line-height: 120%;
    margin-bottom: 38px;
  }

  &__txt {
    margin: 0;
    font-size: 22px;
    line-height: 150%;
    margin-bottom: 45px;
  }

  &__photos {
    display: flex;
    align-items: flex-end;
    gap: 12px;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 352px;
      height: 536px;
      background-repeat: no-repeat;
      background-image: url(../img/rectangle.svg);
      background-size: cover;
      position: absolute;
      left: 38px;
      bottom: 35px;
    }
  }

  &__svg--large,
  &__img--large {
    width: 352px;
    height: 536px;
  }

  &__svg--small,
  &__img--small {
    width: 233px;
    height: 319px;
  }
}

// ***************************Adaptive***************************
@media (max-width: 1150px) {
  .hero {
    align-items: flex-end;
    &__svg--large {
      width: 26vw;
      height: 41vw;
      border-radius: 0px 11vw 0px 13vw;
    }

    &__img--large,
    &__img--small {
      width: 100%;
      height: 100%;
    }

    &__photos::after {
      width: 27vw;
      height: 41vw;
      left: 3vw;
      bottom: 3vw;
      z-index: 5;
    }

    &__svg--small {
      width: 17vw;
      height: 23vw;
      border-radius: 0px 10vw 0px 0px;
    }
  }
}

@media (max-width: 950px) {
  .hero {
    margin-bottom: 85px;

    &__descr {
      flex-basis: 380px;
    }

    &__title {
      font-size: 54px;
    }

    &__txt {
      font-size: 18px;
    }
  }
}

@media (max-width: 767px) {
  .hero {
    position: relative;
    padding-bottom: 50px;
    padding-top: 35px;
    margin-bottom: 40px;

    &__descr {
      flex-basis: 350px;
    }

    &__title {
      font-size: 45px;
      margin-bottom: 27px;
    }

    &__txt {
      margin-bottom: 36px;
    }

    &__photos {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    &__photos:after {
      display: none;
    }

    &__svg--large {
      width: 130px;
      height: 203px;
      border-radius: 0px 66px 0px 66px;
    }

    &__svg--small {
      width: 77px;
      height: 111px;
      border-radius: 0px 35px 0px 0px;
    }
  }
}

@media (max-width: 580px) {
  .hero {
    margin-bottom: 0px;

    &__descr {
      flex-basis: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__title {
      font-size: 40px;
      text-align: center;
      margin-bottom: 20px;
    }

    &__txt {
      text-align: center;
      margin-bottom: 28px;
    }

    &__photos {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  .hero {
    padding-top: 20px;
    padding-bottom: 44px;

    &__title {
      font-size: 36px;
      line-height: 110%;
      margin-bottom: 18px;
    }

    &__txt {
      margin-bottom: 26px;
      font-size: 16px;
    }
  }
}
