<section class="hero">
  <div class="hero__descr">
    <h1 class="hero__title">Jewelry of own production</h1>
    <p class="hero__txt">All products are created with love for each client.</p>
    <a href="#" class="link">Calculate and order</a>
  </div>
  <div class="hero__photos">
    <svg class="hero__svg--large">
      <pattern id="pattern" width="100%" height="100%">
        <image
          class="hero__img--large"
          xlink:href="img/photo1.jpg"
          preserveAspectRatio="xMidYMin slice"
        ></image>
      </pattern>
      <path
        d="M0 0.204529H182.212C275.548 0.204529 351.212 75.8684 351.212 169.205V537H176C78.7979 537 0 458.202 0 361V0.204529Z"
        fill="url(#pattern)"
      />
    </svg>
    <svg class="hero__svg--small">
      <pattern id="pattern1" width="100%" height="100%">
        <image
          class="hero__img--small"
          xlink:href="img/photo2.jpg"
          preserveAspectRatio="xMidYMin slice"
        ></image>
      </pattern>
      <path
        d="M0 0H112.227C179.053 0 233.227 54.1735 233.227 121V319H0V0Z"
        fill="url(#pattern1)"
      />
    </svg>
  </div>
</section>
