<section class="photos">
  <h2 class="section-title">Our Products</h2>
  <div class="photos__grid">
    <div class="photos__grid-cover">
      <img
        class="photos__grid-img"
        src="img/product1.jpg"
        alt="jewelry example"
      />
      <div class="photos__grid-descr">
        <span class="photos__caption">Variety of rings</span>
        <span class="photos__call">Click to see details</span>
      </div>
    </div>
    <div class="photos__grid-cover">
      <img
        class="photos__grid-img"
        src="img/product6.jpg"
        alt="jewelry example"
      />
      <div class="photos__grid-descr">
        <span class="photos__caption">Ruby necklace</span>
        <span class="photos__call">Click to see details</span>
      </div>
    </div>
    <div class="photos__grid-cover">
      <img
        class="photos__grid-img"
        src="img/product3.jpg"
        alt="jewelry example"
      />
      <div class="photos__grid-descr">
        <span class="photos__caption">Sapphire ring</span>
        <span class="photos__call">Click to see details</span>
      </div>
    </div>
    <div class="photos__grid-cover">
      <img
        class="photos__grid-img"
        src="img/product2.jpg"
        alt="jewelry example"
      />
      <div class="photos__grid-descr">
        <span class="photos__caption">Amethyst ring</span>
        <span class="photos__call">Click to see details</span>
      </div>
    </div>
    <div class="photos__grid-cover">
      <img
        class="photos__grid-img"
        src="img/product7.jpg"
        alt="jewelry example"
      />
      <div class="photos__grid-descr">
        <span class="photos__caption">Golden earrings</span>
        <span class="photos__call">Click to see details</span>
      </div>
    </div>
    <div class="photos__grid-cover">
      <img
        class="photos__grid-img"
        src="img/product4.jpg"
        alt="jewelry example"
      />
      <div class="photos__grid-descr">
        <span class="photos__caption">Bijouterie</span>
        <span class="photos__call">Click to see details</span>
      </div>
    </div>
    <div class="photos__grid-cover">
      <img
        class="photos__grid-img"
        src="img/product5.jpg"
        alt="jewelry example"
      />
      <div class="photos__grid-descr">
        <span class="photos__caption">Pearl necklace</span>
        <span class="photos__call">Click to see details</span>
      </div>
    </div>
  </div>
</section>
