<section class="photos">
  <h2 class="section-title">Our Products</h2>
  <div class="photos__grid">
    <div class="photos__grid-cover">
      <img
        class="photos__grid-img"
        src="img/product1.jpg"
        alt="jewelry example"
      />
    </div>
    <div class="photos__grid-cover">
      <img
        class="photos__grid-img"
        src="img/product2.jpg"
        alt="jewelry example"
      />
    </div>
    <div class="photos__grid-cover">
      <img
        class="photos__grid-img"
        src="img/product3.jpg"
        alt="jewelry example"
      />
    </div>
    <div class="photos__grid-cover">
      <img
        class="photos__grid-img"
        src="img/product4.jpg"
        alt="jewelry example"
      />
    </div>
  </div>
</section>
