// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Open Sans", sans-serif;
  --content-width: 1250px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // original colors
  //   --main-color: #efe3df;
  //   --accent-color: #673d3f;
  //   --accent-color-hover: #b05459;
  //   --text-color: #2b2024;

  // colors **
  --main-color: white;
  --accent-color: #bd1e51;
  --accent-color-hover: #e82b69;
  --text-color: #490b3d;
}
